@use '@angular/material' as mat;
@use 'sass:map';

@use './themes/sidenav-theme' as sidenav;

@include mat.core();

$app-primary: mat.define-palette(mat.$green-palette, 800, 700, 900, 50);
$app-accent: mat.define-palette(mat.$lime-palette, 500, 500, 500, 500);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
    ),
  )
);

@include mat.core-theme($app-theme);
@include mat.all-component-themes($app-theme);

@include sidenav.theme($app-theme);
