<mat-form-field color="accent" appearance="standard" class="control-container">
  <mat-label>{{ translatedLabel }}</mat-label>
  <input
    matInput
    [type]="type"
    [placeholder]="translatedPlaceholder"
    [disabled]="disabled"
    [(ngModel)]="value"
    (ngModelChange)="updateModelValue($event)"
    [errorStateMatcher]="inputErrorStateMatcher"
    (blur)="onTouched()"
  />
  <mat-icon *ngIf="iconName" matSuffix class="icon">{{ iconName }}</mat-icon>
  <mat-hint>{{ translatedHint }}</mat-hint>
  <mat-error>{{ errorMessage }}</mat-error>
</mat-form-field>
